body {
    background-color: #121212; /* Темный фон */
    color: #ffffff; /* Светлый текст */
    font-family: Arial, sans-serif; /* Чистый шрифт */
}

.boiler-room-container {
    padding: 20px;
}

.boiler {
    background-color: #1e1e1e; /* Немного светлее фона */
    border-radius: 8px; /* Закругленные углы */
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Небольшая тень */
}

.boiler img {
    width: auto;
    height: auto;
    border-radius: 4px; /* Закругленные углы для изображений */
}

.parameters span {
    display: block; /* Каждый параметр на новой строке */
    margin-bottom: 5px;
}

button {
    background-color: #0a84ff; /* Яркий цвет для акцентов */
    color: white;
    align-content: center;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0066cc; /* Темнее при наведении */
}

/* Дополнительные стили для сообщений об ошибках, предупреждений и т.д. */
.error {
    color: #ff0033; /* Красный для ошибок */
}

.success {
    color: #33cc33; /* Зеленый для успешных действий */
}

/* Адаптивность и медиа-запросы при необходимости */
@media (max-width: 600px) {
    .boiler {
        padding: 10px;
    }
}
.boiler {
    text-align: center;
}

.boiler-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.boiler-image {
    height: 1.2em; /* Размер изображения соответствует размеру шрифта */
    margin-right: 0.5em;
}

.parameters {
    font-size: 0.9em; /* Уменьшенный размер шрифта для параметров */
}